.statistics {
  margin-bottom: 20px;
  width: 400px;
  background-color: #fff;

  border-radius: 5px;

  overflow: hidden;
}

.title {
  color: grey;
  text-transform: uppercase;
}

.statList {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.item {
  flex-grow: 1;
}

.label {
  display: block;
}

.percentage {
  display: block;
}
